# Secrets
.env
**/.env

# Python build artifacts
__pycache__/
/**/__pycache__/
*.pyc

# Local Chroma database
chroma_data/
/**/chroma_data/

# Virtual Environment
.venv/
/**/.venv/

# Logs & System
*.log
node_modules/
dist/
*.pid
*.db